@page "/"
<div class="text-center p-2">
    <a href="http://asarel.com/">
        <img src="/images/asarel-medet-logotype.gif" class="img-fluid rounded" style="width: 400px;" alt="...">
    </a>
    <br />
</div>

<div class="text-center w-100 p-2">
    <h1>Минно инженерство</h1>
</div>
<div class="d-flex mt-2 mt-md-5">
    <div class="row">
        <div class="text-center">
            <img src="/images/mashine.jpg" class="rounded" alt="...">
        </div>
    </div>
</div>
